@charset "ISO-8859-1";
.message {
	padding: 8px;
	background-color: pink;
}

.message:empty {
	display: none;
}

.secret {
	font-family: 'Comic Sans', cursive, monospace;
	font-size: 130%;
}
 
 

nav a:active { 
    color: #0000ff
}

nav a {
	color: #ffffff;
}

.header {
	padding: 27px 16px;
	background: #800040;
	color: #f1f1f1;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%; 
	padding: 10px 16px;
	background: #800040;
	color: #f1f1f1;
}

.img-fav {
	position: relative;
}
 

.img_fav_a {
	position: absolute;
	background: white;
	top: 1em;
	left: 1em;
}

.img_fav_details_a {
	position: absolute;
	background: white;
	top: 1em;
	left: 30em;
}
